body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
.semaforo {
    width: 120px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
}
.luz {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #444;
}
.verde {
    background-color: green;
}
.amarelo {
    background-color: yellow;
}
.vermelho {
    background-color: red;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
#tempo {
    margin-top: 10px;
    font-size: 18px;
}
